<div class="container">
    <div class="header-bottom">
        <div class="type">
            <h5>文章类别</h5>
        </div>
        <span class="menu"></span>
        <div class="list-nav">
            <ul>                                                                 
                <li><a href="3dprinting.html">深度学习</a></li>|
                <li><a href="materials.html">自然语言处理</a></li>|
                <li><a href="materials.html">强化学习</a></li>|
                <li><a href="about.html">图像处理</a></li>
            </ul>
        </div>
        <!-- script for menu -->
            <script>
            $( "span.menu" ).click(function() {
              $( ".list-nav" ).slideToggle( "slow", function() {
                // Animation complete.
              });
            });
        </script>
        <!-- script for menu -->

        <div class="clearfix"></div>
    </div>
</div>
