<include file="Common/header" />
<include file="User/common" />

<link href="__PUBLIC__/css/user-space.css?tm={:g_random()}" rel="stylesheet" type="text/css" media="all" />
<div class="container">
    <div class="panel user-box">
        <div class="user-space-section">
            <div class="user-form">
                <input type="hidden" value="{$forward}" id="forward-url" name="forward-url">
                <div class="user-form-item">
                    <input type="password" placeholder="请输入当前密码" data-placeholder="请输入当前密码" id="cur-password" name="cur-password">
                    <p class="tips-ipt" id="cur-password-tip">密码不能为空!</p>
                </div>
                <div class="user-form-item">
                    <input type="password" placeholder="请输入新密码" data-placeholder="请输入新密码" id="new-password" name="new-password">
                    <p class="tips-ipt" id="new-password-tip">密码不能为空!</p>
                </div>
                <div class="user-form-item">
                    <input type="password" placeholder="请再次输入新密码" data-placeholder="请再次输入新密码" id="renew-password" name="renew-password">
                    <p class="tips-ipt" id="renew-password-tip">密码不能为空!</p>
                </div>
                <div class="user-form-item">
                    <input type="text" value="请输入验证码" id="captcha" name="captcha"/>
                    <img src="{:U('User/captcha')}" onclick="updateCaptcha();" id="captcha-image" />
                    <p class="tips-ipt" id="captcha-tip">验证码不能为空!</p>
                </div>
                <div class="user-form-item">
                    <input name="update-password-btn" type="submit" id="update-password-btn" value="确认修改">
                    <p class="tips-ipt" id="update-password-btn-tip">修改失败!</p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<script src="__PUBLIC__/js/common.js?tm={:g_random()}"></script>
<script src="__PUBLIC__/js/user.js?tm={:g_random()}"></script>
<include file="Common/footer" />
