<!DOCTYPE html>
<html>
<head>
<title>{$title}</title>
<link  href="__PUBLIC__/third/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="__PUBLIC__/css/style.css?tm={:g_random()}" rel="stylesheet" type="text/css" media="all" />
<link href="__PUBLIC__/css/global.css?tm={:g_random()}" rel="stylesheet" type="text/css" media="all" />
<link href="__PUBLIC__/css/utils.css" rel="stylesheet" type="text/css" media="all" />
<script src="__PUBLIC__/third/jquery/jquery.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Konstructs Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</head>

<script>
var gSiteUrl = "__ROOT__";
var gCheckCaptchaAjaxUrl = "{:U('User/ajaxCheckCaptcha')}";
var gCheckEmailAjaxUrl = "{:U('User/ajaxCheckEmail')}";
var gRegisterAjaxUrl = "{:U('User/ajaxRegister')}";
var gLoginAjaxUrl = "{:U('User/ajaxLogin')}";
var gPostArticleAjaxUrl = "{:U('Article/ajaxPost')}";
var gFetchArticleAjaxUrl = "{:U('Article/ajaxFetch')}";
var gAddMaterialAjaxUrl = "{:U('Material/ajaxAdd')}";
var gUpdatePasswordAjaxUrl = "{:U('User/ajaxUpdatePassword')}";
var gUpdateProfileAjaxUrl = "{:U('User/ajaxUpdateProfile')}";
</script>

<body>
<div id="fixed-wrapper">
<div id="main-content">

<!-- header-section-starts -->
<div class="header">
    <div class="container">
        <div class="logo">
            <a href="{:U('Index/index')}"><h1>解惑者</h1></a>
        </div>
        <div class="pages">
            <ul>
                <if condition="'__ACTION__' eq U('Index/index', '', '')">
                    <li><a class="active" href="{:U('Index/index')}">文章列表</a></li>
                <else/>
                    <li><a href="{:U('Index/index')}">文章列表</a></li>
                </if>

                <if condition="'__ACTION__' eq U('Material/index', '', '')">
                    <li><a class="active" href="{:U('Material/index')}">学习资料</a></li>
                <else/>
                    <li><a href="{:U('Material/index')}">学习资料</a></li>
                </if>

                <if condition="'__ACTION__' eq U('Article/post', '', '')">
                    <li><a class="active" href="{:U('Article/post')}">投稿</a></li>
                <else/>
                    <li><a href="{:U('Article/post')}">投稿</a></li>
                </if>
            </ul>
        </div>
        <div class="navigation">
            <ul>
                <if condition="g_is_login()">
                    <li>
                        <a href="{:U('User/profile')}" data-toggle="tooltip" class="tip" data-placement="bottom" data-original-title="个人主页">
                            <span>{:g_get_nickname()}</span>
                        </a>
                    </li>
                    <!-- <li><a href="{:U('User/logout')}" data-toggle="tooltip" class="tip" data-placement="bottom" data-original-title="退出"><i class="glyphicon glyphicon-off"></i></a></li>-->
                    <li><img class="img-circle bm_small_avatar" src="{:g_get_user_avatar(g_is_login(), 's')}?{echo random()}" /></li>
                <else/>
                    <li><a class="active" href="{:U('User/login')}">登录</a></li>
                    <li><a class="active" href="{:U('User/register')}">注册</a></li>
                </if>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
